table {
   
   width: 220px;
   height: 220px;
   border: 1px ridge black;
   border-collapse: collapse;

  }
 table, td {
        border: 2px ridge black;
        column-width: 250px;
        height: 20px;
    }

    .red {
        background-color: red;
    }   

    .black {
        background-color: black;
    }

    .blue {
        background-color: blue;
    }

    .yellow {
        background-color: yellow;
    }

    .white {
        background-color: white;
    }
